@charset "UTF-8";

body {
    margin: 0;
}

div {
    top: 50%;
    position: absolute;
    height: 450px;
    width: 400px;
    left: 50%;
    right: 50%;
    transform: translate(-50% , -50%);
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 8px;
}