@charset "UTF-8";

body{
    background-color: rgba(0, 0, 0, 0.901);
}
header{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: center; 
    background-color: rgb(65, 74, 100);
    padding: 50px;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: box-shadow 0.5s ease-in-out;
}
header:hover {
    box-shadow: 1px 1px 9px 2px rgba(255, 255, 255, 0.227);
    transition: 0.5s;
}


div {
    margin: 5px;
}
input{
    border-radius: 10px;
    height: 30px;
    width: 270px;
    transition: 0.2s ease-in-out;
}
input:hover {
    width: 271px;
    height: 31px;
    transition: 0.2s;
}
#caixa3 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.522);
    color: white;
    font-size: 18px;
}

button {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.144);
    border-radius: 5px;
    height: 35px;
    width: 35px;
}
